{% extends "base.html" %}

{% load i18n %}

{% block extra_head %}

<!---------- CONTROLLERS AND SERVICES ------------->
<!-- angular-seed resources  -->

<script src="{{ STATIC_URL }}app/js/angular/services/services.js"></script>
<script src="{{ STATIC_URL }}app/js/angular/services/AppService.js"></script>

<script src="{{ STATIC_URL }}app/js/angular/controllers/controllers.js"></script>
<script src="{{ STATIC_URL }}app/js/angular/controllers/AppController.js"></script>
<script src="{{ STATIC_URL }}app/js/angular/controllers/HomeController.js"></script>

<script src="{{ STATIC_URL }}app/js/angular/others/filters.js"></script>
<script src="{{ STATIC_URL }}app/js/angular/others/directives.js"></script>

{% endblock %}

{% block content %}

Hello

<!--<div class="padded-content">
    <div id="main-content" class="container">
        <div class="row">
            <div class="span12">
                <div class="pending-bg" pending-bar>
                    <div class="alert alert-warning">loading ...</div>
                </div>
            </div>
        </div>
        <ng-view view-state></ng-view>
    </div>
</div>-->

{% endblock %}