
{% extends "landing_base.html" %}

{% block content %}


			<div id="nav" class="grid_9 omega">
				<ul class="navigation">
					<a href='/'>HOME</a>
				</ul>
			</div>

		</div>
	</div>


	<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
		<div id="content1" class="container clearfix">

			<div class="grid_12 content">


                    <h3> Thanks  -  We will let you know when the site is live!

                    </h3>

            </div>
         </div>
    </div>

{% endblock %}